@import './base.css';
h1 {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}
#create-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
#go-back {
  position: fixed;
  top: 30px;
  left: 30px;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (hover: hover) {

}

@media (min-width: 1024px) {

}
